---
title: Game a Day
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}{%if renderData.title or metadata.title %}: {{renderData.title or metadata.title}}{% endif %}</title>
    <link rel="stylesheet" href="/style.css">
    <script src="script.js" defer></script>

    <!-- Social -->
    <meta property="og:title" content="Game a Day"/>
    <meta property="og:description" content="A list of games to play each day from the Bundle for Racial Justice and Equality" />
    <meta property="og:image" content="https://game-a-day.patrickweaver.net/images/tweet.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@patrickweave_r" />
    <meta name="twitter:creator" content="@patrickweave_r" />
    <meta name="twitter:title" content="Game a Day" />
    <meta name="twitter:description" content="A list of games to play each day from the Bundle for Racial Justice and Equality" />
    <meta name="twitter:image" content="https://game-a-day.patrickweaver.net/images/tweet.png" />
    <meta name="twitter:image:alt" content="A screenshot of a tweet" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>